.enumeration {
  margin: 0px auto;
  width: 90vw;
}

.enumeration-image {
  width: 100px;
  height: 100px;
}

.pagination {
  padding-top: 10px;
}

.table-container {
  overflow-y: auto;
  max-height: 78vh;
}
.table thead {
  position: sticky;
  position: -webkit-sticky;
  background-color: white;
  top: 0px;
}

.page-item:hover {
  cursor: pointer;
}

.page-item:hover {
  cursor: pointer;
}

.page-item.disabled:hover {
  cursor: auto;
}

.enumeration-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-chooser {
  position: relative;
}

.column-chooser p {
  margin: 0 24px 4px 0;
}

.chooser-switcher {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: lightgrey;
  text-align: center;
}

.chooser-switcher:hover {
  cursor: pointer;
}

.chooser-label {
  padding-left: 10px;
}

.chooser-inactive {
  display: none;
}

.chooser-active {
  display: block;
}
